/**
* A
*/
#loading-mask {
  position: absolute;
  left:     0;
  top:      0;
  width:    100%;
  height:   100%;
  z-index:  20000;
  background-color: white;
}

#loading {
  position: absolute;
  left:     50%;
  top:      50%;
  padding:  2px;
  z-index:  20001;
  height:   auto;
  margin:   -35px 0 0 -30px;
}

#loading .loading-indicator {
  background: url(../images/loading.gif) no-repeat;
  color:      #555;
  font:       bold 13px tahoma,arial,helvetica;
  padding:    8px 42px;
  margin:     0;
  text-align: center;
  height:     auto;
}

/* DESCRIPTION DIVS */
.description {
    padding: 10px
}


#search-dropdown .item, #search-dropdown .footer {
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
    padding: 5px 5px 5px 30px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #BFBFBF;
    color: #605F5F;
}

#search-dropdown .item.x-item-selected {
    background-color: #FFA;
}

#search-dropdown .icon-class {
    /*background: url(../images/icons.png) no-repeat 0 -40px;*/
}

.list-icon {
    position: absolute;
    float: left;
}

.list-title {
    position: relative;
    left: 33px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-footer {
    position: relative;
    left: 30px;
    font-size: .85em;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ######################## ICONS ####################### */

.csv-export-16 {
    background-image: url("../icons/csv.png") !important;
    height: 16px;
}

.data-input-16 {
    background-image: url("../icons/data_input.png") !important;
    height: 16px;
}

.data-output-16 {
    background-image: url("../icons/data_output.png") !important;
    height: 16px;
}

.excel-export-16 {
    background-image: url("../icons/xls.png") !important;
    height: 16px;
}

.export-16 {
    background-image: url("../icons/export.png") !important;
    height: 16px;
}

.filter-16 {
    background-image: url("../icons/filter.png") !important;
    height: 16px;
}

.help-16 {
    background-image: url("../icons/help.png") !important;
    height: 16px;
}

.hierarchy-16 {
    background-image: url("../icons/hierarchy.png") !important;
    height: 16px;
}

.information-16 {
    background-image: url("../icons/information.png") !important;
    height: 16px;
}

.json-export-16 {
    background-image: url("../icons/json.png") !important;
    height: 16px;
}

.ms1-search-engine-16 {
    background-image: url("../icons/ms1_search_engine.png") !important;
    height: 16px;
}

.papers-16 {
    background-image: url("../icons/papers.png") !important;
    height: 16px;
}

.tools-16 {
    background-image: url("../icons/tools.png") !important;

}

.tsv-export-16 {
    background-image: url("../icons/tsv.png") !important;
    height: 16px;
}

.home-16 {
    background-image: url("../icons/house.png") !important;
    height: 16px;
}

.xml-export-16 {
    background-image: url("../icons/xml.png") !important;
    height: 16px;
}

.xref-16 {
    background-image: url("../icons/xref.png") !important;
    height: 16px;
}

/* ###################### CATEGORY ###################### */
.category-identified {
    background-image: url("../icons/lipid_icon_base_16_filled.png") !important;
    height: 16px;
}

.category-identified-24 {
    background-image: url("../icons/lipid_icon_base_24_filled.png");
    height: 24px;
    background-repeat: no-repeat;
}

.x-grid-tree-node-expanded .category-identified{
    background-image: url("../icons/lipid_icon_base_16_filled.png") !important;
    height: 16px;
}

/* ###################### MAIN CLASS ###################### */
.mainClass-identified {
    background-image: url("../icons/lipid_icon_base_16_filled.png") !important;
    height: 16px;
}

.mainClass-identified-24 {
    background-image: url("../icons/lipid_icon_base_24_filled.png");
    height: 24px;
    background-repeat: no-repeat;
}

.x-grid-tree-node-expanded .mainClass-identified {
    background-image: url("../icons/lipid_icon_base_16_filled.png") !important;
    height: 16px;
}

/* ###################### SUB CLASS ###################### */
.subClass-identified {
    background-image: url("../icons/lipid_icon_base_16_filled.png") !important;
    height: 16px;
}

.subClass-identified-24 {
    background-image: url("../icons/lipid_icon_base_24_filled.png");
    height: 24px;
    background-repeat: no-repeat;
}

.x-grid-tree-node-expanded .subClass-identified {
    background-image: url("../icons/lipid_icon_base_16_filled.png") !important;
    height: 16px;
}

/* ###################### SPECIE ###################### */
.specie-identified {
    background-image: url("../icons/lipid_icon_base_16_filled.png") !important;
    height: 16px;
}

.specie-unidentified {
    background-image: url("../icons/lipid_icon_base_16.png") !important;
    height: 16px;
}

.specie-identified-24 {
    background-image: url("../icons/lipid_icon_base_24_filled.png");
    height: 24px;
    background-repeat: no-repeat;
}

.specie-unidentified-24 {
    background-image: url("../icons/lipid_icon_base_24.png");
    height: 24px;
    background-repeat: no-repeat;
}

.x-grid-tree-node-expanded .specie-identified {
    background-image: url("../icons/lipid_icon_base_16_filled.png") !important;
    height: 16px;
}

.x-grid-tree-node-expanded .specie-unidentified {
    background-image: url("../icons/lipid_icon_base_16.png") !important;
    height: 16px;
}

/* ###################### FA SCAN SPECIE ###################### */
.faScanSpecie-identified {
    background-image: url("../icons/lipid_icon_base_16_filled.png") !important;
    height: 16px;
}

.faScanSpecie-unidentified {
    background-image: url("../icons/lipid_icon_base_16.png") !important;
    height: 16px;
}

.faScanSpecie-identified-24 {
    background-image: url("../icons/lipid_icon_base_24_filled.png");
    height: 24px;
    background-repeat: no-repeat;
}

.faScanSpecie-unidentified-24 {
    background-image: url("../icons/lipid_icon_base_24.png");
    height: 24px;
    background-repeat: no-repeat;
}

.x-grid-tree-node-expanded .faScanSpecie-identified {
    background-image: url("../icons/lipid_icon_base_16_filled.png") !important;
    height: 16px;
}

.x-grid-tree-node-expanded .faScanSpecie-unidentified {
    background-image: url("../icons/lipid_icon_base_16.png") !important;
    height: 16px;
}

/* ###################### SUB SPECIE ###################### */
.subSpecie-identified {
    background-image: url("../icons/lipid_icon_base_16_filled.png") !important;
    height: 16px;
}

.subSpecie-unidentified {
    background-image: url("../icons/lipid_icon_base_16.png") !important;
    height: 16px;
}

.subSpecie-identified-24 {
    background-image: url("../icons/lipid_icon_base_24_filled.png");
    height: 24px;
    background-repeat: no-repeat;
}

.subSpecie-unidentified-24 {
    background-image: url("../icons/lipid_icon_base_24.png");
    height: 24px;
    background-repeat: no-repeat;
}

.x-grid-tree-node-expanded .subSpecie-identified {
    background-image: url("../icons/lipid_icon_base_16_filled.png") !important;
    height: 16px;
}

.x-grid-tree-node-expanded .subSpecie-unidentified {
    background-image: url("../icons/lipid_icon_base_16.png") !important;
    height: 16px;
}

/* ###################### ISOMER ###################### */
.isomer-identified {
    background-image: url("../icons/lipid_icon_base_16_filled.png") !important;
    height: 16px;
}

.isomer-unidentified {
    background-image: url("../icons/lipid_icon_base_16.png") !important;
    height: 16px;
}

.isomer-identified-24 {
    background-image: url("../icons/lipid_icon_base_24_filled.png");
    height: 24px;
    background-repeat: no-repeat;
}

.isomer-unidentified-24 {
    background-image: url("../icons/lipid_icon_base_24.png");
    height: 24px;
    background-repeat: no-repeat;
}